body{
    background-color: blanchedalmond;
    padding:0;
    margin: 0;
}

header{
    background-color: rgb(15, 149, 167);
    margin:0;
    padding: 10px;
}

nav ul{
    text-align: center;
}

nav ul li{
    list-style-type: none;
    display: inline;
    padding-right: 80px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}
